:root{
    --section-gradient-1: #005f8c ;
    --section-gradient-2: #00b9be ;
    --sidebar-bg-clr: #002b59;
}

body.menu-preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
    color: white;
}

html, body{
    min-height: 100%;
    margin: 5px;
    background: linear-gradient(to bottom right, var(--section-gradient-1), var(--section-gradient-2));
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#heading-user{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 50px;
}

#heading{
    font-size: 1.5rem;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;

}

#logged-user{
    justify-self: end;
    align-self: center;
}

#menu-checkbox{
    display: none;
}

#menu-checkbox2{
    position: absolute;
    font-size: 45px;
    left: 10px;
    top: -1px;
    z-index: 1;
}
#menu-checkbox:checked ~ #menu-checkbox2 i{
    transform: rotate(0.25turn);
    transition: 0.5s ease;
}
#menu-checkbox:not(:checked) ~ #menu-checkbox2 i{
    transition: 0.5s ease;
}

.sidebar{
    position: fixed;
    width: 20%;
    min-height: 100%;
    background-color: var(--sidebar-bg-clr);
}

.sidebar-position{
    top: 0;
    left: -390px;
    transition: 0.4s ease-in;
}

#menu-checkbox:checked ~ .sidebar-position{
    left: 0;
    transition: 0.4s ease-out;
}

.sidebar-header{
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px #0a5b81 solid;
}

.sidebar-content-underline li:after{
    border-bottom: 1px #0a5b81 solid;
    content: "";
    display: block; 
    margin: 0 auto; 
    width: 80%; 
    height: 1px;
}

.sidebar a:hover{
    transform: translate(10px);
    transition: 0.4s ease;
}

.sidebar i{
    width: 12%;
}

.sidebar a{
    display: block;
    transition: 0.4s ease;
    padding-block: 30px;
    padding-left: 9%;
    text-decoration: none;
    font-size: 1.8rem;
}